<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div class="newcall">
        <form action="" method="post">
             
            <label for="customerid">customerid</label>
            <input type="text" name="customerid" id="" required>

            <label for="date">date</label>
            <input type="date" name="date" id="" required>
            
            <label for="issue">issue</label>
            <input type="text" name="issue" id="" required>

            <label for="solution">solution</label>
            <input type="text" name="solution" id="" required>

            <label for="status">status</label>
            <select name="status" id="">
                <option value="open">open</option>
                <option value="close">closed</option>
            </select>
        </form>
    </div>
    
</body>
</html>